body{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
input{
    width: 100px;
    height: 20px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    transition: width .3s ease-in .1s;
}
input:focus{
    width: 200px;
    height: 20px;
    /* outline: none;  将高亮外边框去掉  */
}